@{
    ViewBag.Title = "Index";
}
@section basecss{
   <link href="~/Content/oocss.css" rel="stylesheet" />
}
<div class="hero-unit">
    <p>Event Delegation-Demonstration</p>
    <ul class="well delegate">
        <li class="well">Click me to get Another li</li>
    </ul>
    <p>Deffered and Data Demonstration</p>
</div>
<div class="cols"></div>
@section FooterScript{
    <script src="~/Scripts/underscoreScript.js"></script>
    @*<script src="~/Scripts/demonstration.js"></script>*@
}