@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithSideBar.cshtml";
}
@section basecss{
    <link href="~/Content/recuritment.css" rel="stylesheet" />
}
<script>
    var __initialData = {
        "id": "1",
        "name": "Acme Summer Ambassadors"
    };
</script>

<div ng-app="rn">
    <div class="demographic-preference" ng-controller="demographicPreferenceCtrl">
        <div demographicPreference rn-model="model" rn-api="api">
            <h2>{{model.name}}</h2>
            <hr />
            <h3>Select Demographic Preferences</h3>
            <hr />
            <div class="clearfix">
                <div class="span6">
                    <h4>Age Group</h4>
                    <label>
                        <input type="checkbox"> All High School
                    </label>
                    <label>
                        <input type="checkbox"> All College
                    </label>
                    <label>
                        <input type="checkbox"> All Professional
                    </label>
                </div>
                <div class="span6 dotted-border">
                    <h4>List of Schools</h4>
                    <p>Campuses: 10 (of 50 goal)</p>
                    <button class="btn">Select Schools</button>
                </div>                    
            </div>
            <hr />
            <div class="clearfix">
                <div class="span6">
                    <table>
                        <thead>
                            <tr>
                                <td colspan="3"><h4>Demographics</h4></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <label for="">Gender:</label>
                                    <select>
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>
                                </td>
                                <td></td>
                                <td>
                                    <label for="">Relationship: </label>
                                    <select>
                                        <option value="">Married</option>
                                        <option value="">Single</option>
                                    </select>
                                </td>
                            </tr>
                            <tr><td colspan="3"><label for="">Age: </label></td></tr>
                            <tr>
                                <td>
                                    <select>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                    </select>
                                </td>
                                <td class="range-placeholder"> to </td>
                                <td>
                                    <select>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"> 
                                    <label>Min. # Children: </label>
                                    <input type="text"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span6">
                    <table>
                        <thead>
                            <tr>
                                <td colspan="3"><h4>Location</h4></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                <label class="radio">
                                    <input type="radio"> City and State
                                </label>
                                </td>
                            </tr>
                            <tr>
                                <td> <label for="">City:</label>
                                    <input type="text" class="input-small"/>
                                </td>
                                <td></td>
                                <td>
                                    <label for="">State: </label>
                                    <select>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                <label class="radio">
                                    <input type="radio"> Region
                                </label></td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="">Within:</label>
                                </td>
                                <td></td>
                                <td>
                                    <label for="">Zip Code:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select>
                                        <option value="">15 Miles</option>
                                        <option value="">20 Miles</option>
                                    </select>
                                </td>
                                <td class="range-placeholder"> of </td>
                                <td>
                                    <input type="text" class="span7"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>      
            <hr />
            <div class="clearfix">
                <table>
                    <thead>
                        <tr>
                            <td class="col40"><h4>Program Participation</h4></td>
                            <td class="col30"><h4>Facebook Friends</h4></td>
                            <td class="col10"></td>
                            <td class="col30"><h4>Twitter Followers</h4></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label>
                                                <input type="checkbox"> Exclude all reps rated Low
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                <input type="checkbox"> Require past program experience
                                                </label>
                                            </td>
                                        </tr>
                                       </tbody>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td> <label for="">Min:</label>
                                            </td>
                                            <td></td>
                                            <td>
                                                <label for="">Max: </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select>
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                </select>
                                            </td>
                                            <td class="range-placeholder"> to </td>
                                            <td>
                                               
                                                <select>
                                                    <option value="">0</option>
                                                    <option value="">1</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="col10"></td>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td> <label for="">Min:</label>
                                                </td>
                                            <td> </td>
                                            <td>
                                                <label for="">Max: </label>
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> 
                                                <select>
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                </select>
                                            </td>
                                            <td class="range-placeholder"> to </td>
                                            <td>
                                                
                                                <select>
                                                    <option value="">0</option>
                                                    <option value="">1</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <hr />
            <div class="clearfix">
                <button class="btn btn-primary">Save</button>
                <a href="#">Clear Fields</a>
            </div>
        </div>
    </div>
</div>
@section FooterScript{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/rnutils.js"></script>
    <script src="~/Scripts/controller.js"></script>
    <script src="~/Scripts/angular-strap.0.7.3.js"></script>
}