@{
    ViewBag.Title = "Index";
}
@section basecss{
   <link href="~/Content/oocss.css" rel="stylesheet" />
}
<div class="hero-unit">
    <h1>Welcome to Home Page</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-large" href="#">Learn more »</a></p>
</div>

<div class="cols">
    <div class="col twoCols">
        <div class="mod"><h2>1/2</h2></div>
    </div>
    <div class="col twoCols"><h2>1/2</h2></div>    
</div>
<div class="cols">
    <div class="col threeCols"><h2>1/3</h2></div>
    <div class="col threeCols"><h2>1/3</h2></div>
    <div class="col threeCols"><h2>1/3</h2></div>           
</div>
<div class="cols">
    <div class="col fourCols"><h2>1/4</h2></div>
    <div class="col fourCols"><h2>1/4</h2></div>
    <div class="col fourCols"><h2>1/4</h2></div>
    <div class="col fourCols"><h2>1/4</h2></div>        
</div>
<div class="cols">
    <div class="col fiveCols"><h2>1/5</h2></div>
    <div class="col fiveCols"><h2>1/5</h2></div>
    <div class="col fiveCols"><h2>1/5</h2></div>
    <div class="col fiveCols"><h2>1/5</h2></div>
    <div class="col fiveCols"><h2>1/5</h2></div>                  
</div>
<div class="cols">
    <div class="col oneThird"><h2>1/3</h2></div>
    <div class="col twoThird"><h2>2/3</h2></div>                
</div>
<div class="cols">
    <div class="col threeFourth"><h2>3/4</h2></div>
    <div class="col oneFourth"><h2>1/4</h2></div>                
</div>
<div class="cols">
    <div class="col fourFifth"><h2>4/5</h2></div>
    <div class="col oneFifth"><h2>1/5</h2></div>                
</div>
<div class="cols">
    <div class="col twoFifth"><h2>2/5</h2></div>
    <div class="col threeFifth"><h2>3/5</h2></div>                
</div>
<h2>Complicated Nesting</h2>
<div class="cols">
    <div class="col oneFifth"><h2>1/5</h2></div>                
    <div class="col threeFifth"><h2>3/5</h2>
        <div class="cols">
            <div class="col twoCols"><h2>1/2</h2></div>    
            <div class="col twoCols"><h2>1/2</h2></div>    
        </div>
        <div class="cols">
            <div class="col oneThird"><h2>1/3</h2></div>
            <div class="col twoThird"><h2>2/3</h2></div>   
        </div>
    </div>                
    <div class="col oneFifth"><h2>1/5</h2></div>                
</div>

