@{
    ViewBag.Title = "Header";
}

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="#" class="brand">RepNation</a>
            <div class="nav-collapse collapse">
            <ul class="nav">
                @*<li class="first"><a href="/" id="current">Home</a></li>
                <li><a href="/Store/">Store</a></li>
                <li><a href="/Cart/">Cart</a></li>
                <li><a href="/Contact/">Contact</a></li>*@
                <li><a href="/RecruitmentStart/">Recruitment Start</a></li>
                <li><a href="/RecruitmentDashboard/">Recruitment Dashboard</a></li>
                <li><a href="/Demographic/">Demographic</a></li>
                <li><a href="/SchoolSelection/">School Selection</a></li>
                <li><a href="/CreateJobPosting/">Create Job Posting</a></li>
                <li><a href="/ConfigureEmails/">Configure Emails</a></li>
                <li><a href="/HiringApplied/">Hiring Applied</a></li>
                <li><a href="/ConfigureEmails/">Configure Emails</a></li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
